html {
  font-size: 12px;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

nav {
    padding: 1.25rem 4rem;
    position: fixed;
    width: 100vw;
    text-align: left;
}

h1 {
    font-weight: 800;
    font-size: 3.75em;
}

h2 {
    font-weight: 700;
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.75em;
}

h5 {
    font-size: 1.25em;
}

.oscuro{
    background: #000f08;
    color: #ffffff;
    padding: 1.5rem;
}

/*
 * PROXIMA CHARLA
 */

.proxima-charla {
  align-items: flex-start;
  background-color: #a4452c;
  color: #FFFFFF;
  display: flex;
  padding: 104px 513px;
}

.proxima-charla__speaker {
  width: 311px;
}

.proxima-charla__info {
  padding-left: 1rem;
  text-align: left;
}

.proxima-charla__title {
  margin: 0;
  font-size: 2em;
}

.proxima-charla__subtitle {
  margin: 0;
}

.proxima-charla__speaker-name {
  margin: 0;
}

.proxima-charla__speaker-description {
  margin: 0;
}

.proxima-charla__description {
  margin: 0;
}

/*
 * EVENTOS ANTERIORS
 */

.eventos-anteriores {
  padding: 0 193px;
}

.eventos-anteriores__titulo {

}

.eventos-anteriores__eventos {
  display: flex; 
  justify-content: space-between;
}

.eventos-anteriores__eventos .evento {
  width: 415px;
}

.evento {
  
}

.evento__imagen {
  width: 100%;
}

.evento__nombre {

}


/*
 * TODO: ordenar
 */

.oscuro a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5625rem;
}

.oscuro ul li{
    display: inline-block;
    margin: 0 1em;
    vertical-align: middle;
}

.hero-section {
    text-align: right;
    background-image: url("../img/bg-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    text-shadow: 0rem 0.1875rem 0.375rem #00000080;
    padding: 6.25rem 3.125rem;
}

section, footer {
    margin-top: 4.6875rem;
}

footer {
    padding: 3.125rem;
}

.centrado {
    width: 75%;
    margin: 0 auto;
}

.container {
  width: 894px;
  margin: 0 auto;
}


.subtitulo, h4, h5{
    font-weight: 400;
}

.icono {
    width: 2rem;
}

.icono svg {
    fill: #ffffff;
}

footer i {
    margin: 0 0.25em 0.5em 0.25em;
}
